/* #h1HeadingAboutUs{
    font-size: 60px;
}
.aboutUsImage{
    height: 400px;
}
#Card4th{
    margin-left: 253px;
}
#Card1st,#Card2nd,#Card3rd,#Card4th,#Card5th
{
    margin-bottom: 36px;
}
#Card2ndclassCard 
{
    padding-bottom: 23px;
} */

#AboutUsStarting
{
    width: 70%;
}
